.skeleton-card{

background:#1e293b;

border-radius:20px;

padding:20px;

animation:pulse 1.4s infinite;

}

.skeleton-image{

height:220px;

background:#334155;

border-radius:15px;

margin-bottom:20px;

}

.skeleton-title{

height:20px;

background:#334155;

margin-bottom:15px;

border-radius:10px;

}

.skeleton-text{

height:14px;

background:#334155;

margin-bottom:20px;

border-radius:10px;

}

.skeleton-button{

height:45px;

background:#334155;

border-radius:12px;

}

@keyframes pulse{

50%{

opacity:.45;

}

}