.empty-state{

padding:100px 20px;

text-align:center;

color:white;

}

.empty-state h2{

font-size:70px;

margin-bottom:20px;

}

.empty-state h3{

margin-bottom:10px;

}

.empty-state p{

color:#94a3b8;

}