.theme-toggle{

position:fixed;

right:20px;

bottom:100px;

width:55px;

height:55px;

border-radius:50%;

border:none;

background:#6366f1;

color:white;

font-size:22px;

cursor:pointer;

z-index:1000;

box-shadow:0 10px 30px rgba(0,0,0,.3);

}